<span class="card">
    <span class="card-title">
        THEY CALL YOU
    </span>
    <span class="card-body">
        <span>
            Your style can be described as <span class="clickable">{{pvnkDetails['style'] | uppercase}}</span>, while your <span class="clickable">{{pvnkDetails['feature'] | uppercase}} is/are your most prominant feature.
            More than anything, you want <span class="clickable">{{pvnkDetails['wants'] | uppercase}}.</span>
            </span>
        </span>

        <span>
            The one quirk that you can't seem to shake is your tendancy to <span class='clickable'>{{pvnkDetails['quirk']}}.</span>
        </span>

        <span>
            You are currently obsessed with <span class="clickable">{{pvnkDetails['obsession'] | uppercase}}.</span>
        </span>
    </span>
</span>