@use '../app/themes';

.pvnk-grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 99vw;
    font-size: 0.9em;
    span.title {
        display: grid;
        place-self: center;
        margin-bottom: 0.5em;
        margin-top: 0em;
        h1 {
            font-family: "Adder", sans-serif;
            margin-bottom: 0rem;
        }
        em {
            font-size: 0.5em;
            place-self: center;
        }
    }

    strong.flavor-font {
        font-family: "Cybrpnuk", sans-serif;
    }

    .mass-reroll {
        display: grid;
        place-self: center;
    }

    .footer {
        place-self: end;
    }

    .legal {
        font-size: 0.8em;
        .button-section {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, auto);
            grid-template-areas: 
                "hp     classless"
                "print  print";
            grid-gap: 0.5rem;
            place-content: center;

            .max-hp-button, .no-class {
                place-self: center;
                font-size: 1.3em;
            }

            .max-hp-button {
                grid-area: hp;
            }
            .no-class {
                grid-area: classless;
            }
            .print-pvnk {
                grid-area: print;
                font-size: 1.3em;
                text-align: center;
            }
        }
        .copyright {
            place-self: center;
        }
    }
}

@media only screen and (min-width: 768px) {
    $areas: title, mass-reroll, identity, ability, details, equipment, cybertech, nano, apps, footer;
    .pvnk-grid {
        h1 {
            font-size: 3em;
        }
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, auto);
        grid-template-areas: 
            "title          title"
            "mass-reroll    mass-reroll"
            "identity       identity"
            "details        details"
            "ability        equipment"
            "apps           apps"
            "cybertech      cybertech"
            "nano           nano"
            "footer         footer";
        @each $area in $areas {
            .#{$area} {
                grid-area: #{$area};
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    .pvnk-grid {
        max-width: 53%;
        margin: auto;
    }
}

@media print {
    $areas: title, mass-reroll, identity, ability, details, equipment, cybertech, nano, apps, footer;
    .pvnk-grid {
        max-width:99%;
        font-size: 8pt;
        .no-print {
            display: none;
        }
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, auto);
        grid-template-areas: 
            "title          title"
            "mass-reroll    mass-reroll"
            "identity       identity"
            "details        details"
            "ability        equipment"
            "apps           apps"
            "cybertech      cybertech"
            "nano           nano"
            "footer         footer";
        @each $area in $areas {
            .#{$area} {
                grid-area: #{$area};
            }
        }

        .footer {
            position:absolute;
            bottom: 0;
        }
    }
}
