@use '../src/app/themes';

@font-face {
    font-family: "Roboto Mono";
    src: local("Roboto Mono"), url(./assets/fonts/RobotoMono-VariableFont_wght.ttf) format('opentype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "Another Danger";
    src: local("Another Danger"), url(./assets/fonts/Another_Danger.ttf) format('opentype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "Cybrpnuk";
    src: local("Cybrpnuk"), url(./assets/fonts/Cybrpnuk2.ttf) format('opentype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "Adder";
    src: local("Adder"), url(./assets/fonts/Adder.otf) format('opentype');
    font-weight: 100 1000;
}

body {
    font-family: "Roboto Mono", sans-serif;
}

.slasher {
    font-family: "Another Danger", sans-serif;
    font-size: 1.3em;
}

.flavor-font {
    font-family: "Adder", sans-serif;
    font-size: 1.2em;
}

.rotate-arrow {
    writing-mode: vertical-lr;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto;
    grid-gap: 0.5rem;
    border-bottom: 1px solid;

    &.legal {
        border-bottom: none;
    }
    padding: 1rem 0rem 1rem 0rem;
    .card-title {
        place-self: center;
        .clickable {
            font-size: 1.5em;
        }
        em {
            font-size: 0.65em;
        }
    }
    .card-body {
        padding: 0rem 1rem 0rem 1rem;
        place-self: stretch;
        display: grid;
        grid-gap: 1rem;
    }
}

@media only screen and (min-width: 768px) {
    .card {
        border-bottom: none;
        &.legal, &.apps, &.cybertech, &.nano {
            border-top: 1px solid;
        }
        &.details {
            border-top: 1px solid;
            border-bottom: 1px solid;
        }
        &.equipment {
            border-left: 1px solid;
            padding-left: 1rem;
        }
        &.legal {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .card {
        .card-title {
            em {
                font-size: 0.8em;
            }
        }
    }
}

.clickable {
    padding: 0rem 0.3rem 0rem 0.3rem;
    cursor: pointer;
    transition: all .2s ease-in-out; 
    user-select: none;
}

ul {
    padding: 0rem;
    margin: 0rem;
}
a {
    text-decoration: none;
}

li {
    padding-bottom: 0.1em;
}
