body {
    font-family: calling-code, sans-serif;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto;
    grid-gap: 0.5rem;
    border-bottom: 1px solid black;
    padding: 1rem 0rem 1rem 0rem;
    .card-title {
        place-self: center;
    }
    .card-body {
        padding: 0rem 1rem 0rem 1rem;
        place-self: stretch;
        display: grid;
        grid-gap: 1rem;
    }
}

.clickable {
    background-color: black;
    padding: 0rem 0.3rem 0rem 0.3rem;
    color: white;
    cursor: pointer;
    transition: all .2s ease-in-out; 

    &:hover {
        background-color: lightslategray;
    }
    // &:active {
    //     padding: 1rem;
    // }
}

ul {
    padding: 0rem;
    margin: 0rem;
}