@font-face {
    font-family: "Roboto Mono";
    src: local("Roboto Mono"), url(./assets/fonts/RobotoMono-VariableFont_wght.ttf) format("truetype");
}

body {
    font-family: "Roboto Mono", sans-serif;
}

a {
    text-decoration: none;
}

li {
    padding-bottom: 0.1em;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto;
    grid-gap: 0.5rem;
    border-bottom: 1px solid black;
    padding: 1rem 0rem 1rem 0rem;
    .card-title {
        place-self: center;
        .clickable {
            font-size: 1.5em;
        }
        em {
            font-size: 0.65em;
        }
    }
    .card-body {
        padding: 0rem 1rem 0rem 1rem;
        place-self: stretch;
        display: grid;
        grid-gap: 1rem;
    }
}

.clickable {
    background-color: black;
    padding: 0rem 0.3rem 0rem 0.3rem;
    color: white;
    cursor: pointer;
    transition: all .2s ease-in-out; 
    user-select: none;

    &:hover {
        background-color: lightslategray;
    }
    // &:active {
    //     padding: 1rem;
    // }
}

ul {
    padding: 0rem;
    margin: 0rem;
}