<span class="card">
    <span class="card-title">
        <strong>NANO</strong>
        <em>Test DR12 Presence to use Nano. Failure→take d2 dmg. +Fumble triggers Infection linked to that power (pg. 76). Each Nano use adds +1 to Fumble when using Nano until the next day.</em>
    </span>
    <span class="card-body">
        <!-- {{nano | json}} -->
        <span class="nano-display" *ngFor="let nanoDisplay of nano">
            <span>
                <strong>POWER</strong>
                <span [innerHtml]="nanoDisplay.power | safeHtml">
                </span>
            </span>

            <span>
                <strong>INFESTATION</strong>
                <span [innerHtml]="nanoDisplay.infestation | safeHtml">
                </span>
            </span>
        </span>
    </span>
</span>