.card-title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    place-items: center;
}

.card-body {
    .nano-display {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0.5rem;
    }
    .nano-display>span {
        display: flex;
        flex-direction: column;
        strong {
            border-bottom: 1px solid;
        }
    }
}
