@use '../themes';

.card {
    margin-top: 0.5rem;
    border-top: 1px solid;
    .card-title {
        display: flex;
        flex-direction: column;
        strong {
            font-size: 1.5em;
        }
        em {
            font-size: themes.$detail-font;
        }
    }
}

.hp-glitches {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
    place-self: center;

    .hp-section {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: auto repeat(2, min-content);
        grid-template-areas:
            "die    title   hp";
        .hp-title {
            grid-area: title;
        }
        .hp {
            margin-left: 0.5rem;
            grid-area: hp;
        }
        .die {
            grid-area: die;
            font-size: 0.8em;
        }
    }
}

@media only screen and (min-width: 768px) {
    .hp-glitches {
        font-size: 1.2em;
    }
}
