<span class="card identity">
    <span class="card-title">
        <strong class="clickable" (click)="shuffleTheme()">{{pvnk.name | uppercase}}</strong>
    </span>

    <span class="card-body">
        <span [innerHtml]="pvnk.flavor | safeHtml"></span>
        <span class="hp-glitches">
            <span>
                <strong>HP </strong>
                <span class="clickable" (click)="rerollHp()">{{hp}}</span>
            </span>
            <span>
                <strong>GLITCHES</strong>
                {{pvnk.abilityMods.gliches | uppercase}}
            </span>
        </span>
    </span>
</span>