.card-body {
    grid-gap: 0.5rem;
}

.ability-names {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        'name       score'
        'descrip    score';
    strong {
        grid-area: name;
        font-size: 1.3em;
    }
    em {
        grid-area: descrip;
        font-size: 0.8em;
    }
    span.score {
        grid-area: score;
        font-size: 1.8em;
    }
}

@media only screen and (min-width: 768px) {
    .ability-names {
        grid-template-columns: 3fr 1fr;
        strong {
            font-size: 1.1em;
        }
        span.score {
            place-self: end;
            margin-right: 50%;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .ability-names {
        grid-template-columns: 2fr 1fr;
    }
}
