<span class="card ability">
    <span class="card-title">
        <span (click)="reRollAbility('')" class="clickable"><strong>ABILITIES</strong></span>
    </span>
    <div class="card-body">
        <span *ngFor="let ability of abilities" class="ability-names">
            <strong>
                <span class="clickable" (click)="reRollAbility(ability.name)">{{ability.name | titlecase}}</span>
            </strong>
            <em>
                {{ability.descrip}}
            </em>
            <span class="score">{{ability.value}}</span>
        </span>
    </div>
</span>
