<span class="card ability">
  <span class="card-title">
    <span (click)="reRollAbility('')" class="clickable"><strong>ABILITIES</strong></span>
  </span>
  <div class="card-body">
    @for (ability of abilities; track ability) {
      <span class="ability-names">
        <strong>
          <span class="clickable" (click)="reRollAbility(ability.name)">{{ability.name | titlecase}}</span>
          @if (showDie) {
            <span>
              @for (die of ability.dieArray; track die) {
                <span class="dicer-font">
                  {{die}}
                </span>
              }
              @if (pvnk.abilityMods[ability.name] && pvnk.abilityMods[ability.name] > 0) {
                <span>+</span>
                }{{pvnk.abilityMods[ability.name]}}
              </span>
            }
          </strong>
          <em>
            {{ability.descrip}}
          </em>
          <span class="score">{{ability.value}}</span>
        </span>
      }
    </div>
  </span>
